DJANGO_SETTINGS_MODULE=dealhost.settings.dev
GITHUB_OWNER=dealiot
GITHUB_REPOSITORY=smartappli
GITHUB_TOKEN=<github_personal_access_token>
GITHUB_WEBHOOK_SECRET=<github_webhook_secret>
APISIX_ADMIN_URL=http://apisix:9180
APISIX_ADMIN_KEY=<apisix_admin_key>
APISIX_UPSTREAM_HOST=django-app
APISIX_UPSTREAM_PORT=8000
VALKEY_URL=redis://valkey:6379/1
